
<footer>
    <div class="footer" id="footer">
            <div class="row footer-container">
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6 footer-help">
                    <h3> Let Us Help You </h3>
                    <ul>
                        <li> <a href="#"> How to Buy </a> </li>
                        <li> <a href="#"> Your Account </a> </li>
                        <!--<li> <a href="#"> Order </a> </li>-->
                        <li> <a href="#"> Shipping and Delivery </a> </li>
                        <li> <a href="#"> Refund and Return </a> </li>
                        <!--<li> <a href="#"> Help </a> </li>-->
                    </ul>
                </div>
                
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6 footer-aboutmzk">
                    <h3> Who We Are </h3>
                    <ul>
                        <li> <a href="#"> About Diamond Oscar </a> </li>
                        <li> <a href="#"> Privacy Policy </a> </li>
                        <li> <a href="#"> Terms and Conditions </a> </li>
                        <!--<li> <a href="#"> Site Map </a> </li>-->
                        <li> <a href="#"> Contact Us </a> </li>
                    </ul>
                </div>
               
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6 footer-newsletter">
                    <h3> New Arrivals and Promotions </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <p id='newsletter-text'>Receive notification and newsletter about<br> New Products and Special Promotions <br>by subscribing Diamond Oscar. 
                                </p>
                                <div class="input-group">
                                  <input type="text" class="form-control newsletter-email" placeholder="Email Address">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Subscribe!</button>
                                  </span>
                                </div><!-- /input-group -->
                            </div>
                        </li>
                    </ul>
                    <ul class="social" id='social'>
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        
            <div class='footer-copyright'>
                <div class='copyright-container'>
                    <p class="pull-left"> Copyright © Diamond Oscar Online Shopping Company Ltd 2017. All right reserved. </p>
                    <div class="payment-icons">
                        <ul class="nav nav-pills payments">
                        	<li><i class="fa fa-cc-visa"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-amex"></i></li>
                            <li><i class="fa fa-cc-paypal"></i></li>
                        </ul> 
                    </div> 
                </div>
                
            </div>
       
            
            
    </div>
</footer>





<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script src='/js/custom.js'></script>
<script src='/js/add-picture.js'></script>
<script src='/js/image-change.js'></script>
<!--<script src='/js/homepage.js'></script>-->

<script src='/js/jquery.jcarousel.min.js'></script>
    <script src='/js/jcarousel.connected-carousels.js'></script>
</body>
</html>