<% include partials/header.ejs %>

<link rel="stylesheet" href="/stylesheets/homepage.css">

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="10000" id="bs-carousel">
  
  
  
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <!--<ol class="carousel-indicators">-->
  <!--  <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>-->
  <!--  <li data-target="#bs-carousel" data-slide-to="1"></li>-->
  <!--  <li data-target="#bs-carousel" data-slide-to="2"></li>-->
  <!--</ol>-->
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1 class='burmese' id='hero-main-text1'>ခောတ်မီတဲ့ စတိုင်ကျ လှပမှုက</h1>
            <h1 class='burmese' id='hero-main-text2'>သင့် လက်တစ်ကမ်းအကွာ ရောက်နေပြီလေ</h1>    
        </hgroup>
        <div class='pull-right'>
          <h3 class='burmese'>မိုးရာသီအထူးလျော့စျေး</h3>
          <a href='/category/all/1' class="btn btn-hero btn-lg" role="button">SHOP NOW</a>
        </div>
      </div>
    </div>
    <!--<div class="item slides">-->
    <!--  <div class="slide-2"></div>-->
    <!--  <div class="hero">-->
    <!--    <hgroup>-->
    <!--        <h1 class='burmese' id='hero-main-text1'>ခောတ်မီတဲ့ စတိုင်ကျ လှပမှုက</h1>-->
    <!--        <h1 class='burmese' id='hero-main-text2'>သင့် လက်တစ်ကမ်းအကွာ ရောက်နေပြီလေ</h1>    -->
    <!--    </hgroup>-->
    <!--    <div class='pull-right'>-->
    <!--      <h3 class='burmese'>မိုးရာသီအထူးလျော့စျေး</h3>-->
    <!--      <button class="btn btn-hero btn-lg" role="button">SHOP NOW</button>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<div class="item slides">-->
    <!--  <div class="slide-3"></div>-->
    <!--  <div class="hero">-->
    <!--    <hgroup>-->
    <!--        <h1 class='burmese' id='hero-main-text1'>ခောတ်မီတဲ့ စတိုင်ကျ လှပမှုက</h1>-->
    <!--        <h1 class='burmese' id='hero-main-text2'>သင့် လက်တစ်ကမ်းအကွာ ရောက်နေပြီလေ</h1>    -->
    <!--    </hgroup>-->
    <!--    <div class='pull-right'>-->
    <!--      <h3 class='burmese'>မိုးရာသီအထူးလျော့စျေး</h3>-->
    <!--      <button class="btn btn-hero btn-lg" role="button">SHOP NOW</button>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  </div> 
</div>

<!--<a href='/product/add'>Add new Product</a>-->


<h3 class='burmese best-selling-headers best-selling-headers-women'>လတ်တလော လူကြိုက်များသော အမျိုးသမီးဖက်ရှင် ပစ္စည်းများ</h3>
<!--BEST SELLING ITEMS-->


<div id="carousel-bestselling" class="carousel slide" data-ride="carousel" data-interval='5000'>
        <div class="carousel-inner">
            <div class="item active">
                    <img src="/images/homepage/Women_Bestselling_Item_1.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                              <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                              <p class='burmese description-text'>
                                ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                              </p>
                              <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                              <div class='seemore-addtocart'>
                                    <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                    <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                              </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Women_Bestselling_Item_2.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling" data-slide-to="0"></li>
                          <li data-target="#carousel-bestselling" data-slide-to="1" class="active"></li>
                          <li data-target="#carousel-bestselling" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Women_Bestselling_Item_3.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling" data-slide-to="0"></li>
                          <li data-target="#carousel-bestselling" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling" data-slide-to="2" class="active"></li>
                        </ol>
                    </div>
          </div>
      </div> 

</div> <!-- Carousel -->


<!--============================-->



<h3 class='burmese best-selling-headers'>လတ်တလော လူကြိုက်များသော အမျိုးသားဖက်ရှင် ပစ္စည်းများ</h3>

<div id="carousel-bestselling-men" class="carousel slide" data-ride="carousel" data-interval='10000'>
        <div class="carousel-inner">
            <div class="item active">
                    <img src="/images/homepage/Men_Bestselling_Item_1.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                              <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                              <p class='burmese description-text'>
                                ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                              </p>
                              <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                              <div class='seemore-addtocart'>
                                    <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                    <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                              </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-men" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-men" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-men" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Men_Bestselling_Item_2.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-men" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-men" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-men" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Men_Bestselling_Item_3.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-men" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-men" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-men" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
      </div> 

</div> <!-- Carousel -->




<h3 class='burmese best-selling-headers'>လတ်တလော လူကြိုက်များသော ဖိနပ်များ</h3>

<div id="carousel-bestselling-shoe" class="carousel slide" data-ride="carousel" data-interval='10000'>
        <div class="carousel-inner">
            <div class="item active">
                    <img src="/images/homepage/Shoe_1.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                              <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                              <p class='burmese description-text'>
                                ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                              </p>
                              <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                              <div class='seemore-addtocart'>
                                    <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                    <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                              </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Shoe_2.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Shoe_3.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-shoe" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
      </div> 

</div> <!-- Carousel -->




<!--=============BAGS================================-->

<h3 class='burmese best-selling-headers'>လတ်တလော လူကြိုက်များသော အိတ်များ</h3>

<div id="carousel-bestselling-bag" class="carousel slide" data-ride="carousel" data-interval='10000'>
        <div class="carousel-inner">
            <div class="item active">
                    <img src="/images/homepage/Bag_3.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                              <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                              <p class='burmese description-text'>
                                ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                              </p>
                              <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                              <div class='seemore-addtocart'>
                                    <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                    <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                              </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-bag" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-bag" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-bag" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Bag_2.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-bag" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-bag" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-bag" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Bag_1.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-bag" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-bag" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-bag" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
      </div> 

</div> <!-- Carousel -->


<!--=============ACCESSORIES================================-->

<h3 class='burmese best-selling-headers'>လတ်တလော လူကြိုက်များသော အလှ၀တ် ရတနာများ</h3>

<div id="carousel-bestselling-accessories" class="carousel slide" data-ride="carousel" data-interval='10000'>
        <div class="carousel-inner">
            <div class="item active">
                    <img src="/images/homepage/Accessories_1.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                              <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                              <p class='burmese description-text'>
                                ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                              </p>
                              <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                              <div class='seemore-addtocart'>
                                    <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                    <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                              </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Accessories_2.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
          <div class="item">
              <img src="/images/homepage/Accessories_3.jpg">
      
                    <div class="carousel-caption">
                        <div class='caption-description'>
                            <h2><span class='burmese'>နောက်ဆုံးပေါ်</span> Bonia <span class='burmese'>လက်ဆွဲအိတ်</span></h3>
                            <p class='burmese description-text'>
                              ဆန်းသစ်တဲ့ ဒီဇိုင်း ၊ လှပတဲ့ မိတ်ကပ်ရောင် တို့ပေါင်းစပ်ထားတဲ့ ဒီ Bornia မော်ဒယ်အသစ်ကရင်ခုန်စိတ်လှုပ်ရှားစရာ ကောင်းလွန်းလှပါတယ်...
                            </p>
                            <h4 class='burmese description-price'>စျေးနှုန်း - ၄၂၀၀၀ ကျပ်</h4>
                            <div class='seemore-addtocart'>
                                  <a href='#' class='burmese btn btn-primary btn-sm see-more'>ကြည့်ရှူရန်</a>
                                  <a href='#' class='burmese btn btn-primary btn-sm add-to-cart'>၀ယ်ယူရန်</a>
                            </div>
                         </div>
                      	 <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="1"></li>
                          <li data-target="#carousel-bestselling-accessories" data-slide-to="2"></li>
                        </ol>
                    </div>
          </div>
      </div> 

</div> <!-- Carousel -->



<!--=============All Categories================================-->

<h3 class='burmese best-selling-headers'>အမျိုးအစား အားလုံး ကြည့်ရှုရန်</h3>


  
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4">            
                <div class="thumbnail">
                <a href='#'>
                  <div class="caption">
                    <h3>Men Clothings</h3>
                </div>
                </a>
                <img src="images/homepage/All-Categories-ClothingMen.jpg" alt="...">
                </div>

        </div>
      
        <div class="col-xs-6 col-sm-4 col-md-4">            
            <div class="thumbnail">
                <a href='#'>
                  <div class="caption">
                      <h3>Women Clothings</h3>
                  </div>
                </a>
                <img src="images/homepage/All-Categories-ClothingWomen.jpg" alt="...">
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-4">            
            <div class="thumbnail">
                <a href='#'>
                  <div class="caption">
                      <h3>Bags</h3>
                  </div>
                </a>
                <img src="images/homepage/All-Categories-Bag.jpg" alt="...">
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-4">            
            <div class="thumbnail">
                <a href='#'>
                  <div class="caption">
                      <h3>Shoes</h3>
                  </div>
                </a>
                <img src="images/homepage/All-Categories-Shoes.jpg" alt="...">
            </div>  
        </div> 
        
        <div class="col-xs-6 col-sm-4 col-md-4">            
            <div class="thumbnail">
                <a href='#'>
                  <div class="caption">
                      <h3>Accessories</h3>
                  </div>
                </a>
                <img src="images/homepage/All-Categories-Accessories.jpg" alt="...">
            </div>  
        </div> 
        
        <div class="col-xs-6 col-sm-4 col-md-4">            
            <div class="thumbnail">
                <a href='#'>
                  <div class="caption">
                      <h3>All Categories</h3>
                  </div>
                </a>
                <img src="images/homepage/All-Categories-Shoes.jpg" alt="...">
            </div>  
        </div> 
    </div>
  

 


<% include partials/footer.ejs %>