<% include partials/header.ejs %>

	<link rel="stylesheet" href="/stylesheets/login.css">

<div class="login-card">
          <div class='login-header'>
             <h4>Sign Up</h4>
          </div>
          <div class='login-body'>
            <form class='form-group' action='/register' method='POST'>
                <label>Name</label>
                <input type="text" name="username" placeholder="Username" required>
                <label>Email Address</label>
                <input type="email" name="email" placeholder="Email" required>
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" required>
                <label>Gender</label>
                <div id='radio-group'>
                    <div id='male-radio'>
                      <input type="radio" id="radio01" name="gender_radio" value='0' />
                      <label for="radio01"><span></span>Male</label>
                    </div>
                    
                    <div id='female-radio'>
                     <input type="radio" id="radio02" name="gender_radio" value='1'/>
                     <label for="radio02"><span></span>Female</label>
                    </div>    
                </div>
               
                
                <input type="submit" name="login" class="login login-submit" value="SIGN UP">
            </form>
            
            <!--<div class="login-help">-->
            <!--    <p>Already Register ? </p> <a href="/login">Log In</a>-->
            <!--</div> -->
          </div><!--End of Login-body-->
          
</div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src='/js/custom.js'></script>
<script src='/js/add-picture.js'></script>

<script src='/js/jquery.jcarousel.min.js'></script>
    <script src='/js/jcarousel.connected-carousels.js'></script>
</body>
</html>