/*body {*/
/*background: #003973;*/
/*background: -webkit-linear-gradient(to left, #003973 , #E5E5BE);*/
/*background: linear-gradient(to left, #003973 , #E5E5BE);*/
/*background-size: cover;*/
/*font-family: 'Roboto', sans-serif;*/
/*}*/

.login-card {
  padding: 0px;
  padding-top: 50px;
  width: 90%;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h2 {
  text-align: center;
  color: rgba(96,96,96,1.0);
  font-weight: lighter;
  
}

hr {
    width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(96,96,96,1.0), rgba(0, 0, 0, 0));
}

.login-card h4 {
  font-size: 1.1em;
  font-weight: bold;
  color: rgba(96,96,96,1.0);
  text-decoration: underline;
  
}

.media>.pull-left {
  padding: 0px;
  margin-right: 20px;
}

.media>.pull-left:hover {
  padding: 0px;
}

.media .thumbnail img {
  width: 72px;
  height: 72px;
  margin: 0px;
  padding: 0px;
}

.table .tbody .tr #unit-price-column {
  width: 150px;
}


.login-card #unit-price-column {
  width: 150px;
}

.login-card .btn.btn-danger {
  border-radius: 0px;
  height: 20px;
  width: 20px;
}

.login-card .btn.btn-danger .glyphicon {
  top: -4px;
  left: -6px;
}

#deliveryFeeRow {
  transition: 2s;
}

.stripe-button-el {
  background-color: red;
}

.btn.btn-primary.ecommerceButtons {
    width: auto;
    height: 35px;
    background: transparent;
    /*color: : #363939;*/
    color: #999999;
    border-radius: 0px;
    border: 2px solid #999999;
    margin-left: 0px;
    margin-right: 10px;
    padding-bottom: 5px;
    outline:none;
    padding-top: 5px;
    transition: 0.4s;
}

.btn.btn-primary.ecommerceButtons:hover {
  border-radius: 0px;
  
}

.btn.btn-primary.ecommerceButtons.buyButton {
  display: none;
  background-color: transparent;
  color: #f5a623;
  border: 2px solid #f5a623;
}

.btn.btn-primary.ecommerceButtons.confirmButton {
  /*display: none;*/
  background-color: transparent;
  color: #f5a623;
  border: 2px solid #f5a623;
}

.modal .modal-footer {
  padding: 10px;
}
