.body {
  font-family: 'Roboto';
}

.nav {
  font-family: 'Roboto';
}

.page-container {
  font-family: 'Roboto';
}



.navbar-brand img {
    height: 45px;
    width: 180px;
    position: absolute;
    top: 0px;
    left: 20px;
}


.dropdown-large {
  position: static !important;
  transition: 2s;
  
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
  transition: 2s;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu-large .dropdown-header {
  /*color: #428bca;*/
  font-size: 18px;
}

.dropdown-menu-large .dropdown-header a {
  /*color: #428bca;*/
  font-size: 18px;
}

.navbar-default .navbar-nav li .category-header{
    color: rgba(0, 83, 111,0.84);
    text-align: left;
    padding-left: 2px;
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
    color: red;
  }
}



.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav .dropdown-menu li a {
    color: gray;
}

.navbar-default .navbar-nav li .dropdown-header.category-header a {
    color: #F5A623;
}



.navbar-default .navbar-nav li .main-menu {
    color: white;
    font-weight: lighter;
    transition: .4s;
    z-index: 12;
}

.navbar-default .navbar-nav li .main-menu.burmese {
   font-size: 0.9em;
}

.navbar-default .navbar-nav li .main-menu:hover {
    background-color: #4c4c4c;
    color: white;
}

.navbar-default .navbar-nav li .main-menu:active {
    background-color: #006385;
    color: white;
}

.navbar-default .navbar-nav li .category-header.burmese {
    font-size: 1.1em;
}

.navbar-default .navbar-nav li .category-header.burmese a {
    font-size: 1.0em;
}


td .dropdown {
  list-style: none;
  display:inline;
  font-size: 11px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  /*float: left;*/
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  transition-property: box-shadow;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: initial;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 5px;
  padding: 5px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
}

td .dropdown form {
  margin-top: 10px;
  margin-left: 10px;
}

td .dropdown a {
  padding-left: 0px;
  font-size: 1.0em;
  font-weight: bold;
  color: #6f6f6f;
}

td .dropdown ul a {
  font-weight: 300;
}

td .dropdown a:hover {
  text-decoration: none;
}