html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    width: 100%;
}

body {
  /*background: url(https://dl.dropboxusercontent.com/u/23299152/Wallpapers/wallpaper-22705.jpg) no-repeat center center fixed; */
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  
  
background: #003973; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #003973 , #E5E5BE); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #003973 , #E5E5BE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
}

#add-product-alert {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

#add-product-alert {
    display: none;
}

#add-product-well {
    width: 50%;
    margin: 30px auto;
    padding: 0px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(51, 51, 51, 0.46);
}


#add-product-well a {
    color: #333;
    margin-top: 20px;
    display: block;
}

#add-product-well a:hover {
    text-decoration: none;
    font-weight: bold;
}

#new-product-header {
    background-color: #ffb02d;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 5px 5px 0px 0px;
}

#add-product-well h2 {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
}

#add-product-well .inputForms {
    width: 80%;
    margin: 0 auto;
}

#add-product-well .inputForms input {
    margin-left: 0px;
    border-radius: 5px;
    height: 40px;
    
}

#add-product-well .inputForms input[type=text] {
    border: 2px solid #dddddd;
    text-align: left;
    outline: none;
    font-size: 12px;
    
}

#add-product-well .inputForms input[type=text].color-name {
    text-align: center;
}


#add-product-well .inputForms label {
    font-weight: bold;
    color: #ffb02d;

}

.form-group label {
    margin-top: 10px;
}

#uploadForm .form-control {
    border-radius: 0px;
}

#category-selector {
    border-radius: 7px;
    margin-left: 0px;
}
#category-selector option {
    border-radius: 7px;
    margin-left: 0px;
}

.size-checkbox {
    font-size: 1.0em;
    /*color: blue;*/
    margin-right: 20px;
    float: left;
}

.size-checkbox input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.size-checkbox p {
    margin-bottom: 0px;
}

.color-selector input {
    margin-right: 20px;
    float: left;
    width: 30px;
    height: 30px;
    border:none;
}

#plus-color {
    border-radius: 40px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px;
    background-color: #f1f1f1;
    font-size: 18px;
    padding-bottom: 2px;
    outline: none;
}

#plus-image {
    border-radius: 40px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px;
    background-color: #f1f1f1;
    font-size: 18px;
    padding-bottom: 2px;
    outline: none;
}

.color-group {
    display: block;
    margin: 20px;
}

.color-selector .color_name {
    margin-right: 20px;
    float: left;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 10px
}


textarea.form-control {
    height: 300px;
}

#add-product-button{
  width: 170px;
  height: 50px;
  display: block;
  background-image: linear-gradient(0deg, #f9a51a 0%, #ffba47 100%);
  color: white;
  font-family: "Muli","San Serif";
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  float: none;
}

#add-product-button:hover {
  /*border: 2px solid rgba(96,96,96,1.0);*/
  /*color: white;*/
  /*text-shadow: 0 1px rgba(0,0,0,0.1); */
  /*background-color: rgba(96,96,96,1.0);*/
}

