body {
  /*background: url(https://dl.dropboxusercontent.com/u/23299152/Wallpapers/wallpaper-22705.jpg) no-repeat center center fixed; */
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  background: #efefef; /* fallback for old browsers */
  background-size: cover;
  font-family: 'Muli', sans-serif;
  /*height: 100%;*/
}

.login-card {
  padding: 0px;
  width: 400px;
  height: 420px;
  background-color: white;
  margin: 0 auto 10px;
  margin-top: 100px;
  margin-bottom: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(51, 51, 51, 0.46);
  /*overflow: hidden;*/
}

.login-header {
  position: relative;
  top: 0px;
  width: 100%;
  height: 45px;
  background-color: #ffb02d;
  margin: 0px 0px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}


.login-header h4 {
  font-family: "Muli";
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 0px;
  padding-top: 17px;
  
}

.login-body {
  width: 100%;
  height: 375px;
  /*height: 45px;*/
  background-color: white;
  margin: 0px;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 0px 0px 5px 5px;
}

.login-body form {
  margin-bottom: 0px;
}

.login-body label {
  font-family: "Muli";
  font-weight: bold;
  font-size: 12px;
  color: #ffb02d;
  
}


.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 0px;
  position: relative;
}

.login-card input[type=text],input[type=email], input[type=password] {
  height: 40px;
  font-size: 11px;
  width: 360px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 2px solid #dddddd;
  border-radius: 5px;
  /* border-radius: 2px; */
  padding: 0 8px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:focus,input[type=email]:focus, input[type=password]:focus {
  border: 2px solid #c3c3c3;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#radio-group {
  margin-bottom: 36px;
}

#male-radio {
  width: 90px;
  float: left;
  margin-bottom: 0px;
}


#female-radio {
  float: left;
   margin-bottom: 0px;
}

.login {
  text-align: center;
  font-size: 14px;
  /*font-family: 'Arial', sans-serif;*/
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  width: 360px;
  height: 50px;
  background-image: linear-gradient(0deg, #f9a51a 0%, #ffba47 100%);
  color: white;
  font-family: "Muli","San Serif";
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 18px;
  margin-bottom: 0px;
  border: none;
  float: none;
  transition: 0.3s;
}

.login-submit:hover {
  border-radius: 15px;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.login-card-2 {
  height: 295px;
}

.login-body-2 {
  height: 253px;
}


.color-selector .btn.btn-default {
    border-radius: 30px;
}


