.row.row-profile-page {
    max-width:1200px;
    margin: 20px auto;
    padding: 0px;
}

#profile-picture {
    width: 120px;
    height: 120px;
    margin: 10px auto;
    margin-top: 15px;
    padding: 0px;
}

#update-address-btn {
    width: auto;
    text-align: center;
    color: #f9a51a;
    margin-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.2s;
    background: transparent;
    border: 2px solid #f9a51a;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    display: block;
    width: 150px;
    margin: 0 auto;
}

#update-address-btn:hover {
    border-radius: 15px;
}


.panel.panel-info {
    padding-bottom: 20px;
    border: 1px solid rgba(208,208,208,0.6);
    border-radius: 5px 5px 0px 0px;
   
}

.panel-info.panel-favourite {
    margin-top: 20px;
}

.panel.panel-info label,p,a {
   padding-left: 20px;
   
}

.panel.panel-info a {
   /*margin-left: 20px;*/
   
}

.panel.panel-info a:hover {
  text-decoration: none;
   
}

.panel-info .panel-heading {
    height:50px;
    background-color: #FFB02D;
    border: 1px solid rgba(208,208,208,0.6);
    color: #ffffff;
    border-radius: 5px 5px 0px 0px;
}
.panel-heading h2 {
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row td {
    vertical-align: middle;
    margin: 5px auto;
    padding: 0px;
}


.panel-info td img {

    padding: 0px;
    width: auto;
    height: 72px;
    margin: 0 auto;
}


.panel-favourite td .btn {
    background: transparent;
    border: 2px solid #f9a51a;
    outline: none;
    font-size: 14px;
    margin: 0px;
    border-radius: 5px;
    
    /*color: red;*/
}

tbody {
    font-size: 12px;
    text-align: center;
}

th {
    font-size: 12px;
    text-align: center;
}
.product-name-col {
    text-align: left;
}

#panel-user-profile {
    padding-left: 0px;
    padding-right: 10px;
}

#panel-order-history {
    padding-left: 10px;
    padding-right: 0px;
}

#panel-user-profile label {
    text-decoration: underline;
    color: #FFB02D;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
}